@import '../../styles.scss';

.header {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}

.logo {
    width: 25px; 
    height: 25px; 
    margin-right: 10px
}